{% extends 'menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
{% block pagename %}<h1>Главная страница</h1>{% endblock %}
{% block menu %}
    {{ block.super }}
{% endblock %}

{%block content%} {% endblock %}
</body>
</html>

{#
<h1>Главная страница</h1>
    <a href="{% url 'main' %}">Главная страница</a>
        <br></br>
        <a href="{% url 'shop' %}">Магазин</a>
        <br></br>
        <a href="{% url 'cart' %}">Корзина</a>
#}